[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
matplotlib = "*"
pypianoroll = "*"
jupyterlab = "*"
pandas = "*"
seaborn = "*"
beautifulsoup = "*"
torch = "===1.4.0"
torchvision = "===0.5.0"
sklearn = "*"

[requires]
python_version = "3.6"
